<html xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="blockTransactions">

    <div class="alert alert-dismissible fade show g-bg-teal g-color-white rounded-0" role="alert">
        <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <div class="media">
                        <span class="d-flex g-mr-10 g-mt-5">
                          <i class="icon-check g-font-size-25"></i>
                        </span>
            <span class="media-body align-self-center">
                Unfortunately we're still working on implementing this feature. <b>Coming soon!</b>
            </span>
        </div>
    </div>
</div>

</html>