<!DOCTYPE html >
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">

</div>

<body>
<div layout:fragment="main-content">

    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Login to your wallet</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Wallets</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Login</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="loginList" class="row">

            </div>
        </div>
    </section>

    <!-- Login -->
    <script id="hidden-template" type="text/x-custom-template">

        <div class="col-md-6 g-mb-30">
            <!-- Article -->
            <article
                    class="signin d-flex justify-content-between align-items-center u-shadow-v19 g-bg-white rounded g-pa-20">
                <!-- Article Image -->
                <div class="d-block g-max-width-100 g-mr-20" href="#!">
                    <img class="w-100 g-rounded-50x" th:src="@{/assets/images/cindercloud.png}" alt="Image Description">
                </div>
                <!-- End Article Image -->

                <!-- Article Content -->
                <div class="g-mr-20">
                    <h3 class="g-color-black g-font-weight-700 g-font-size-13 text-uppercase">
                        <a id="description" class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                            Unify Template
                        </a>
                    </h3>
                    <p id="address">Address</p>
                    <p id="balance">0.0</p>
                </div>
            </article>
            <!-- End Article -->
        </div>
    </script>
</div>


<div layout:fragment="footer-content">
    <script defer="defer" type="application/javascript" th:src="@{/assets/ethereum/arkane-login.js}"></script>
</div>
</body>
</html>
