<!DOCTYPE html >
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">

</div>

<body>
<div layout:fragment="main-content">

    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Login to your wallet</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Wallets</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Login</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="loginList" class="row">

            </div>
        </div>
    </section>

    <!-- Login -->
    <script id="hidden-template" type="text/x-custom-template">

        <div class="col-md-6 g-mb-30">
            <!-- Article -->
            <article
                    class="signin d-flex justify-content-between align-items-center u-shadow-v19 g-bg-white rounded g-pa-20">
                <!-- Article Image -->
                <div class="d-block g-max-width-100 g-mr-20" href="#!">
                    <img class="w-100 g-rounded-50x" th:src="@{/assets/images/cindercloud.png}" alt="Image Description">
                </div>
                <!-- End Article Image -->

                <!-- Article Content -->
                <div class="g-mr-20">
                    <h3 class="g-color-black g-font-weight-700 g-font-size-13 text-uppercase">
                        <a id="description" class="u-link-v5 g-color-black g-color-primary--hover" href="#!">
                            Unify Template
                        </a>
                    </h3>
                    <p id="address">Address</p>
                    <p id="balance">0.0</p>
                </div>
            </article>
            <!-- End Article -->
        </div>
    </script>
</div>


<div layout:fragment="footer-content">
    <script defer="defer" type="application/javascript">
		(function () {
			function signin(caller) {
				let target = $(caller.target).closest('.signin');
				const walletAddress = $(target).data('wallet-address');
				const bearerToken = $(target).data('bearer-token');
				const walletId = $(target).data('wallet-id');
				const auth = JSON.stringify({bearerToken: bearerToken, address: walletAddress, walletId: walletId});

				$.ajax({
					type: 'POST',
					url: '/arkane/login',
					data: auth,
					contentType: "application/json",
					dataType: 'json',
					success: function (result) {
						if (result) {
							window.location = '/wallet';
						}
					}
				});
			}

			Arkane.login(function (wallets, auth) {
				for (const wallet of wallets) {
					const template = $('#hidden-template').html();
					const item = $(template).clone();
					$(item).find('#description').html(wallet.description);
					$(item).find('#address').html(wallet.address);
					$(item).find('#balance').html(wallet.balance.balance);
					$(item).find('#type').html(wallet.type);
					$(item).find('#balance').html(wallet.balance.balance + ' ' + wallet.balance.symbol);
					$(item).find('.signin').data("wallet-id", wallet.id);
					$(item).find('.signin').data("wallet-address", wallet.address);
					$(item).find('.signin').data("bearer-token", auth);
					$('#loginList').append(item);
				}
				$('.signin').click(signin);
			});
		})();
    </script>
</div>
</body>
</html>
