<html xmlns:th="http://www.thymeleaf.org">

<div id="trezorComponent" class="col-md-4 col align-self-center g-mb-40 " th:fragment="trezor">

    <div style="height: 100%;" class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
        <header class="text-center mb-4">
            <img style="width: 150px;" th:src="@{/assets/img/icons/trezor.png}" />

            <h1 style="display: none;" class="h4 g-color-black g-font-weight-400">Using Trezor</h1>
        </header>

        <button disabled="disabled" id="connectTrezor"
                class="btn disabled btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25"
                type="submit">
            Coming soon!
        </button>
    </div>

    <a style="display: none;" class="btn u-btn-primary" href="#trezorModal" id="trezorModalButton"
       data-modal-target="#trezorModal" data-modal-effect="fadein">Launch Modal
    </a>

    <div id="trezorModal" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;">
        <button type="button" class="close" onclick="Custombox.modal.close();">
            <i class="hs-icon hs-icon-close"></i>
        </button>

        <h4 class="g-mb-20">Choose your address</h4>

        <ul class="list-unstyled" id="trezorLoginApp">
            <li v-for="address in addresses"
                class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-teal-left g-rounded-3 g-pt-15 g-pl-15 g-pr-5 g-mb-7">
                <div class="media-body">
                    <div class="d-flex justify-content-between">
                        <h5 style="font-family: monospace;" class="h6 g-font-weight-400 g-color-black">{{ address
                                                                                                       }}</h5>
                        <a :data-address="address" v-on:click="submitAddress(address)"
                           class="btn btn-xs u-btn-primary g-mr-10 g-mb-15">
                            <i class="fa fa-sign-in"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<th:block th:fragment="trezorJs">

    <script src="https://connect.trezor.io/4/connect.js"></script>

    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/custombox/custombox.min.js}"></script>

    <!-- JS Unify -->
    <script th:src="@{/assets/js/components/hs.modal-window.js}"></script>

    <script th:src="@{/assets/ethereum/ethereumjs-wallet-hd-0.6.0.min.js}" type="application/javascript"></script>

    <input type="hidden" id="randomChallenge" th:value="${randomChallenge}" />
    <input type="hidden" id="visualChallenge" th:value="${visualChallenge}" />

    <script type="application/javascript" th:src="@{/assets/ethereum/trezor-login.js}"></script>

    <script type="application/javascript">
		$(document).ready(function () {
			$.HSCore.components.HSModalWindow.init('[data-modal-target]');
		});
    </script>

</th:block>

<div id="web3Component" class="col-md-4  col-lg-4 order-lg-2 g-mb-40" th:fragment="web3">
    <div style="height: 100%;" class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
        <header class="text-center mb-4">
                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                      <i class="icon-communication-104 u-line-icon-pro"></i>
                    </span>
            <h1 class="h4 g-color-black g-font-weight-400">Use Web3</h1>
        </header>

        <p>Whether you're using a DApp Browser like Mist, Parity or Trust Wallet or Metamask environment, Cindercloud
           can provide you easy access to your Cryptocurrency and tokens.</p>
        <br />

        <a class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" th:href="@{/web3/login}">Login</a>
    </div>

</div>

<div id="arkaneComponent" class="col-md-4  col-lg-4 order-lg-2 g-mb-40" th:fragment="arkane">
    <div style="height: 100%;" class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
        <header class="text-center mb-4">
                    <span class="align-self-center g-color-primary">
                        <img src="https://arkane.network/assets/img/logo-arkane-animated-light.svg" />
                    </span>
        </header>

        <p>Whether you're using a DApp Browser like Mist, Parity or Trust Wallet or Metamask environment, Cindercloud
           can provide you easy access to your Cryptocurrency and tokens.</p>
        <br />

        <a class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" th:href="@{/arkane/login}">Login</a>
    </div>

</div>

</html>